@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap");

html {
  background-color: hsl(180, 52%, 96%);
  font-family: "Spartan", sans-serif;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button,
a {
  transition-duration: 150ms;
}

.logo {
  width: 88px;
  height: 88px;
}

@media all and (max-width: 425px) {
  .logo {
    width: 48px;
    height: 48px;
  }
}
